<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arshdipedia</title>
</head>
<body>
<div>
{{ test }}
    <h3>Costs base on user pocket when is superuser (Sharik)</h3>
    {% for pay in pays %}
        <ul style="font-weight: bold">{{ pay.user|title }}</ul>
        <ul style="font-weight: bold">Sum of Costs: {{ pay.sum|title }}</ul>
        {% for cost in pay.costs %}
            <li>{{ cost }}</li>
        {% endfor %}
    {% endfor %}
    <hr>
    <h3>incomes base on official account</h3>
    {% for income in official_incomes %}
        {{ income.title  }} / {{ income.price }}
        <br>
    {% endfor %}
    <h3>sum of incomes base on official account</h3>
    {{ sum_of_official_incomes }}
</div>
</body>
</html>