<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arshdipedia</title>
</head>
<body>
<div>
    {{ test }}
    <h3>Costs base on user pocket when is superuser (Sharik)</h3>
    {% for pay in pay_employer_partner %}
        <ul style="font-weight: bold">{{ pay.user|title }}</ul>
        <ul style="font-weight: bold">Sum of Costs: {{ pay.sum|title }}</ul>
        {% for cost in pay.costs %}
            <li>{{ cost }}</li>
        {% endfor %}
    {% endfor %}
    <hr>
    {{ pay_employer_worker }}
    <h3>Costs base on user pocket when is worker </h3>
    {% for pay in pay_employer_worker %}
        <ul style="font-weight: bold">{{ pay.user|title }}</ul>
        <ul style="font-weight: bold">Sum of Costs: {{ pay.sum|title }}</ul>
        {% for cost in pay.costs %}
            <li>{{ cost }}</li>
        {% endfor %}
        <br>
        <h3>Salaries based on worker user</h3>
        <ul style="font-weight: bold">Sum of Salaries: {{ pay.salaries_sum|title }}</ul>
        {% for salary in pay.salaries %}
            <li>{{ salary }}</li>
        {% endfor %}
    {% endfor %}
    <hr>
    <h3>incomes base on official account</h3>
    {% for income in official_incomes %}
        {{ income.title }} / {{ income.price }}
        <br>
    {% endfor %}
    <h3>sum of incomes base on official account</h3>
    {{ sum_of_official_incomes }}
</div>
</body>
</html>